body {
	width: 100%;
    height: 100%;
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}

header {
	height: 7px;
    background: green;
}

.form-auth {
    max-width: 330px;
    padding: 5px;
    margin: 0 auto;
}

a:active {
    color: green;
}

header#topNav button.btn-mobile {
    color: #fff;
    display: none;
    background: #2E363F;
    padding: 6px 10px;
    margin-top: 8px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

footer {
    background: #3bac44;
    margin: 0px 0 0;
    float: left;
    width: 100%;
    position: relative;
}

#innerContent h1{
	color: #3bac44;
}

header .container p{
    padding-top : 10px ;

}

#mylogo{
    margin-bottom: 20px;
    padding: 6px 0px 0px 0px;

}


h2 {
    font-size: 2.2em;
    font-weight: 300;
    line-height: 42px;
    margin: 0 0 32px 0;
}

h1, h2, h3, h4, h5, h6, .divider.dark .fa, .divider.white .fa, div.tabs ul.nav-tabs li.active a, h4.panel-title a, div.toggle>label, .noimg-slider h1, .noimg-slider p, .list-icon li:before, .styleColor {
    color: #2E363F;
}

h1 span.subtitle, h2 span.subtitle, h3 span.subtitle {
    display: block;
    font-size: 15px;
    padding: 0;
    margin: -10px 0 0 0;
}

h1 {
    font-size: 3em;
    line-height: 34px;
    margin: 0 0 44px 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    color: #333;
    font-family: 'Open Sans';
    font-weight: 300;
    letter-spacing: -1px;
}
.h1, h1 {
    font-size: 36px;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0,0);
}

.divider {
    border: 0;
    margin: 60px 0;
    height: 4px;
    border-top: #ddd 1px solid;
    border-bottom: #ddd 1px solid;
    text-align: center;
    position: relative;
    clear: both;
}

.divider .fa {
    color: #bbb;
    background: #f4f5f7;
    text-align: center;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 50px;
    font-size: 20px;
    position: absolute;
    top: -25px;
    left: 50%;
    margin: 0 auto 0 -25px;
}
i.fa {
    text-decoration: none!important;
}


p {
    line-height: 27px;
    margin: 0 0 20px;
    font-size: 18px;
}
p, ol li, ul li {
    color: #5b6675;
}
p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.margin-bottom30 {
    margin-bottom: 30px;
}

.parallax h1, .parallax h2, .parallax h3, .parallax h4, .parallax h5, .parallax h6, .parallax p, .parallax .btn {
    color: #fff;
    text-shadow: #000 1px 1px 1px;
}
h1, h2, h3, h4, h5, h6, .divider.dark .fa, .divider.white .fa, div.tabs ul.nav-tabs li.active a, h4.panel-title a, div.toggle>label, .noimg-slider h1, .noimg-slider p, .list-icon li:before, .styleColor {
    color: #2E363F;
}
h2 {
    font-size: 2.2em;
    font-weight: 300;
    line-height: 42px;
    margin: 0 0 32px 0;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    color: #333;
    font-family: 'Open Sans';
    font-weight: 300;
    letter-spacing: -1px;
}

#wrapper {
    padding: 81px 0;
    z-index: 98;
    position: relative;
    background-color: rgba(244,245,247,0.9);
    overflow: hidden;
    min-height: 550px;
}


h4 {
    color: #CCC;
    font-size: 1.4em;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 27px;
    margin: 0 0 14px 0;
}

.img-thumbnail {
    position: relative;
    padding: 0;
    border: 0;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}





/*
testimonial
*/

.white-row {
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

hr.half-margins {
    margin: 30px 0;
}

hr {
    border: 0;
    margin: 60px 0;
    border-top: #ddd 1px solid;
    border-bottom: #fff 1px solid;
}

.img-thumbnail {
    position: relative;
    padding: 0;
    border: 0;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}




footer .footer-column.footer-left {
    padding-left: 0;
}
footer .footer-column {
    padding: 40px 20px 0;
    margin: 0 0 20px;
}

footer .footer-column h5, .payment-icon-inner > h4, .follow-us h5, #ttcmsfooterservice .title_block, .payment-icon-inner > h4 {
    color: #FFF;
    cursor: pointer;
    font: 400 18px/22px "Poppins",sans-serif;
    letter-spacing: 0.6px;
    margin: 0 0 20px;
    text-transform: capitalize;
}

.footer-bottom-cms {
    float: left;
    width: 100%;
}

.footer-bottom {
    float: left;
    width: 100%;
    color: #FFF;
    font-size: 12px;
    background: rgba(0,0,0,0.3);
}

.footer-bottom-link {
    display: inline-block;
    float: left;
}

.footer-bottom-link a {
    color: #FFF;
    font-size: 12px;
}

.footer-bottom p {
    margin: 8px 0;
}

footer .contact-us {
    float: left;
    width: 100%;
}

footer .follow-us {
    float: right;
    margin: 8px 0 0;
}

footer .follow-us > h5 {
    display: none;
}

footer .follow-us ul li {
    display: inline-block;
    float: none;
    margin: 0 5px 0 0;
}

footer .contact-us .phone {
    color: #f9f7f2;
}

footer .footer-column h5, .payment-icon-inner > h4, .follow-us h5, #ttcmsfooterservice .title_block, .payment-icon-inner > h4 {
    color: #FFF;
    cursor: pointer;
    font: 400 18px/22px "Poppins",sans-serif;
    letter-spacing: 0.6px;
    margin: 0 0 20px;
    text-transform: capitalize;
}

footer .contact-us ul li {
    line-height: 20px;
    list-style: outside none none;
    overflow: hidden;
    padding: 0 0 8px;
    position: relative;
}

.fa {
    font-size: 14px;
    vertical-align: baseline;
}

.payment-icon-inner > h4 {
    display: none;
}

.payment-icon-block {
    float: left;
    width: 100%;
    padding: 25px 0;
    border-top: 1px solid #5fba66;
}
.payment-icon-block .payment-title {
    float: left;
    padding: 0 0 10px;
    text-align: center;
    width: 100%;
    font: 400 14px/16px "Poppins",sans-serif;
    color: #FFF;
    text-transform: capitalize;
}

.payment-icon-block .paymentcms {
    float: left;
    width: 100%;
    margin: 0;
    text-align: center;
}

.payment-icon-block ul li {
    display: inline-block;
    margin: 0 5px 0 0;
}

footer .contact-us .contact-address {
    color: #f9f7f2;
    padding: 0 0 0 20px;
}


footer .follow-us ul li a {
    background: rgba(0,0,0,0.1);
    color: #FFF;
    display: inline-block;
    padding: 2px 0;
    text-align: center;
    width: 26px;
    height: 26px;
    position: relative;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

/*dashboard*/

.clsDash_pad_lg {
    padding: 35px 0px;
}

.clsDash_cont_bx {
    background: #ffffff;
    border-radius: 4px;
    box-shadow: 0 0 2px 1px rgba(0,0,0,0.1);
    padding: 30px;
    margin-bottom: 20px;
}

.clsCol_bg1 {
    background: #0072be;
    color: white;
}

.clsDash_cont_bx_sm {
    background: #ffffff;
    border-radius: 4px;
    box-shadow: 0 0 1px 1px rgba(0,0,0,0.1);
    padding: 20px;
    margin-top: 10px;
}

.clsCol_bg1 {
    background: #0072be;
    color: white;
}

.clsCol_bg2 {
    background: #405a7b;
    color: white;
}

.clsCol_bg3 {
    background: #00b6b9;
    color: white;
}

.clsCol_bg4 {
    background: #c1364b;
    color: white;
}

.clsLine_wh {
    border-top: 1px solid #fbfbfb;
    margin: 10px 0px;
}

.clsLine_bl {
    border-top: 1px solid #d5d5d5;
    margin: 10px 0px;
}


.clsDash_txt2 {
    color: white;
    padding: 10px;
    background: #616161;
    border-radius: 4px 4px 0 0;
}


.header_link p a{
font-size: 28px;
}


/*dashboard fini*/

/*signup*/



/*compensation*/

.divider {
    border: 0;
    margin: 50px 0;
    height: 4px;
    border-top: #ddd 1px solid;
    border-bottom: #ddd 1px solid;
    text-align: center;
    position: relative;
    clear: both;
}

.player .video-wrapper .video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: contain;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -webkit-transition: -webkit-filter .25s;
    transition: -webkit-filter .25s;
    transition: filter .25s;
    transition: filter .25s,-webkit-filter .25s;
}

#outPopUp { margin-right: auto; margin-left: auto; width: 50%; }


/*new signup*/

h5 {
    font-size: 12px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    color: #333;
}

footer a {
    font: 400 13px/24px "Poppins",Helvetica,sans-serif;
    color: #f9f7f2;
}
a, a:focus, a:active, a:hover, select, input[type=radio], input[type=checkbox] {
    outline: 0 none !important;
}

h5 {
    font-size: 12px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    color: #333;
}

ul, li, form, p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    list-style: none;
    padding: 0px;
}

a {
	color: #00B7FF;
}

@media (max-width: 1300px) and (min-width: 1200px)
.container {
    width: 1170px;
}